<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-token" class="control-label col-xs-12 col-sm-2">{:__('Token')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-token" data-rule="required" class="form-control" name="row[token]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-title" class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-desc" class="control-label col-xs-12 col-sm-2">{:__('Desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-desc" data-rule="required" class="form-control " rows="5" name="row[desc]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-share_title" class="control-label col-xs-12 col-sm-2">{:__('Share_title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-share_title" data-rule="required" class="form-control" name="row[share_title]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-share_desc" class="control-label col-xs-12 col-sm-2">{:__('Share_desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-share_desc" data-rule="required" class="form-control" name="row[share_desc]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-start_time" class="control-label col-xs-12 col-sm-2">{:__('Start_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[start_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-end_time" class="control-label col-xs-12 col-sm-2">{:__('End_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[end_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-min_bagcount" class="control-label col-xs-12 col-sm-2">{:__('Min_bagcount')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-min_bagcount" data-rule="required" class="form-control selectpicker" name="row[min_bagcount]">
                {foreach name="minBagcountList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
